<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>post form</title>
</head>
<body class="bg-dark text-white">
    <div class="container mt-4 col-4 col-offset-6">
        <h1>post form</h1>
        <form method="POST" action="/api/v1/signup" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="name" class="form-label">name</label>
              <input type="text"  class="form-control" name="name" id="name">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">email</label>
                <input type="text"  class="form-control" name="email" id="email">
              </div>    
              <div class="mb-3">
                <label for="password" class="form-label">password</label>
                <input type="password"  class="form-control" name="password" id="password">
              </div>
              <div class="mb-3">
                <label for="photo" class="form-label">samplefile</label>
                <input type="file" class="form-control" multiple name="photo" id="photo">
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</body>
</html>